@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.header-container {
  color: #1f9b1f;
  font-size: 4rem;
  font-weight: 700;
  margin: 0 auto;
}

.header-container h1 {
  /* margin-left: 30px; */
  text-align: center;

  /* @media (min-width: 800px) {
    text-align: center;
  } */
}

.center {
  display: flex;
  justify-content: center;
}
.drop-down {
  margin-top: 5em;
}

.drop-down form {
  text-align: center;
  font-size: 2rem;
}

input {
  padding: 0.8rem 1rem;
  border: 1px solid #a7a5a5;
  border-radius: 0.5rem;
  width: 20%;
  margin-left: 20px;
}

/* .food {
  object-fit: cover;
} */

.btn-container {
  text-align: center;
}

.btn-restaurants {
  margin-top: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.6rem;
  height: 5rem;
  width: 15rem;
  color: white;
  background: #1f9b1f;
}

.btn-restaurants:hover {
  background: #1b831b;
  transform: translateY(4px);
}

.btn-restaurants .desktop {
  display: none;
}

.btn-restaurants .mobile {
  display: inline-block;
}

/* Media Queries */
@media (min-width: 800px) {
  .header-container {
    font-weight: 900;
    font-size: 5rem;
  }

  .btn-restaurants {
    margin-top: 1.5rem;
    cursor: pointer;
    border-radius: 0.6rem;
    height: 5rem;
    width: 25rem;
    color: white;
    text-align: center;
    display: inline-block;
  }

  .btn-restaurants .desktop {
    display: inline-block;
  }

  .btn-restaurants .mobile {
    display: none;
  }
}
